@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "omnes";
  src: url("./fonts/Omnes\ SemiBold.woff") format("woff"),
    url("./fonts/Omnes\ ExtraLight.woff") format("woff"),
    url("./fonts/Omnes\ Black.woff") format("woff2"),
    url("./fonts/Omnes\ Bold.woff") format("woff"),
    url("./fonts/Omnes\ Bold\ Italic.woff") format("woff"),
    url("./fonts/Omnes\ ExtraLight\ Italic.woff") format("woff"),
    url("./fonts/Omnes\ SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "omnes";
  src: url("./fonts/Omnes\ Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Apply font family and weight to text */
.custom-font {
  font-family: "omnes";
}

span{
  font-family: "omnes";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


